@import url(../css/font-awesome.css);
@import url(../css/bootstrap.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #ededed url("/images/brushed.png") repeat;
  color: #444444;
  border-radius: 5px;
  cursor: default;
}

button:hover {
  cursor: pointer;
}

:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
}

#input {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  background: #ededed;
  position: relative;
}
#input .inputstatus {
  position: absolute;
  text-align: center;
  width: 50px;
  height: 18px;
  top: 30px;
  right: 30px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 18px;
  border-radius: 5px;
  background-position: right;
  background-repeat: no-repeat;
}
#input.processing .inputstatus {
  background-image: url("/images/spinner.gif");
  color: transparent;
}
#input.done .inputstatus {
  background-color: #cc181e;
}
#input #inputurl {
  margin-bottom: 10px;
  width: 100%;
  padding-right: 60px;
}
#input .inputcontrols {
  position: relative;
  height: 30px;
}
#input .inputcontrols .inputtarget {
  padding: 5px 0;
}
#input .inputcontrols .inputtarget label {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 700;
}
#input .inputcontrols .btn-download {
  position: absolute;
  right: 0;
}
