#statusbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  padding: 5px 20px;
  border-top: 1px solid $border;
  background: $body_bg;
  
  span {
    font-size: 14px;
    font-weight: 700;
    padding-right: 5px;
  }
  
  button {
    margin-left: 10px;
  }
}

#folderchooser {
  display: none;
}